@model CC.Models.Group
@*<button data-toggle="modal" data-target="#groupsmodal">button</button>*@

<div class="modal fade" id="groupsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=""></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-8"><img src="~/images/temp/bookclub.jpg" /></div>
                <div class="col-sm-4">
                    <h3>
                        @Html.DisplayFor(model => model.GroupName)
                    </h3>
                    <p class="muted">
                        Members:             @Html.DisplayFor(model => model.Events.Count)
                    </p>
                    <button type="button" class="btn btn-secondary">Join Us</button>

                </div>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About Us</a>
                    </li>
                    @if (Model.Events != null) { 
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Events</a>
                        </li>
                        }
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active about" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                       @if (Model.Events!=null)
                       {
                        @foreach (Event e in Model.Events)
                        {
                            @await Html.PartialAsync("ViewEvent", e)
                        }     
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
